<h1 class="mb-3 p-0"> Aggiungi una scheda </h1>

<hr>

<h3 > Sezione scheda: </h3>
<br>
<%= form_for :schedule, url: schedules_path do |s| %> <!-- :schedule è la variabile che conterra i parametri messi nella form, questi parametri saranno mandati all'url specificato, cioe al metodo create del controller -->
   <!-- subito dopo la definizione della form possiamo mettere questo codice che servira a visualizzare un messagio di errore in caso i requisiti minimi
        dei campi della form da riempire non siamo rispettati. questi requisiti minimi sono definiti nel modulo Schedule(validates....) -->
  <% if @schedule.errors.any? %> 
    <% @schedule.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  
  
  <p>
    <b><%= s.label :Titolo %></b>
    <%= s.text_field :titolo, :placeholder =>'obbligatorio',:class => 'form-control' %>
  </p>

  <p>
    <b><%= s.label :tipo %></b>
    <%= s.text_field :tipo,:placeholder =>'obbligatorio',:class => 'form-control' %>
  </p>

  <p>
    <b><%= s.label :muscoli %></b>
    <%= s.text_field :muscoli, :placeholder =>'obbligatorio',:class => 'form-control' %>
  </p>

  <p>
    <b><%= s.label :descrizione %></b>
      <%= s.text_area :descrizione,:placeholder =>'obbligatorio',:class => 'form-control' %>
  </p>

<hr>

<h3> Sezione Citazione </h3>
<br>
<h5>Inserisci almeno uno dei seguenti campi</h5>

<p>
    <b><%= s.label :cerca %></b>
    <%= s.text_field :search, :value => params[:search], :placeholder =>'es. "motivation", "strenght", "gain"',:class => 'form-control' %>
  </p>                       

  <p>
    <b><%= s.label :tag %></b>
    <%= s.text_field :tag,:value => params[:tag],:placeholder =>'es. "crossfit", "bodybuilding", "powelifting"',:class => 'form-control' %>
  </p>

<hr>

  <p>
    <%= s.submit :value => 'Salva scheda', :class => 'btn btn-outline-success' %>
  </p>
<% end %>