<!-- qui posso usare la variabile ruby @schedule che ho definito nella funzione show nel controller -->
<h1><%= @schedule.titolo %> </h1>
<div class="shadow-lg p-3 mb-2 bg-white rounded">
  <p class="m-1 font-weight-normal"><strong class="font-weight-bold">User:</strong>
     <% if @schedule.user %> 
        <%= @schedule.user.name %> <%= @schedule.user.surname %>
      <% else %>
        Utente non più attivo
      <% end %>
    </p> 
  <blockquote class="blockquote p-3 mb-2 bg-dark text-white">  "<%= @schedule.quote %>" <footer class="blockquote-footer"><cite title="Source Title">Source Title:  </cite><%= @schedule.fonte %></footer></blockquote>
  
  <p class="m-1"><strong class="font-weight-bold">Tipo:</strong><%= @schedule.tipo %></p>
  <p class="m-1"><strong class="font-weight-bold">Muscoli:</strong><%= @schedule.muscoli %></p>
  <p class="m-1 mt-3"><strong class="font-weight-bold">Descrizione:</strong><p>
  <p class="p-3 mb-2 bg-info text-white">  <%= @schedule.descrizione %></p> <!-- <%= @ciao %>-->
  
</div>

<!-- attualmente ho definito un solo utente admin: adminprova@gmail.com e passwordadmin.  l'ho inserito da console-->
<!--IDEA: stavo pensando di inserire una opzione aperta solamente agli admin, tramite la quale si puo eliminare uno user dal database.
in pratica volevo implementare la possibilita da parte dell'admin di banare le persone -->

<!-- perche questi bottoni funzionino dobbiamo definire le funzioni edit e destroy nel controller-->
<% if(current_user==@schedule.user || current_user.admin) %>                    <!--mostra il tasto per eliminare la scheda e quello per editarla solo sulle schede create dall utente attuale e all'admin-->
<%= link_to 'Modifica la scheda', edit_schedule_path, :class => 'btn btn-outline-secondary'%>
<%= link_to 'Elimina la scheda', schedule_path,
                                   method: :delete,   
                                   data: {confirm: 'Are You Sure?'},
                                    :class => 'btn btn-outline-danger'%>
<% else %>
<button class='btn btn-outline-secondary disabled'>Modifica la scheda</button>
<button class='btn btn-outline-danger disabled'>Elimina la scheda</button>
<% end %>

<!-- per il destroy abbiamo dovuto specificare il metodo delete (anche qui dalle route vediamo che la chiamata crud associata al destroy è una delete.
poi inseriamo un modulo di conferma di eliminazione e in fine stile del bottone)-->

<hr color="smoke">

<%= render 'comments/comments'%>  <!-- importo il codice che visualizza la lista di commenti-->
<%= render 'comments/form'%>      <!-- e quello per la form che permette di aggiungerne-->







